h3 {
  font-size: 12px;
}

.PotentialBandArea {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #F35C08;
  color: #FFFFFF;
  border-radius: 25px;
  margin: 0px 0px 30px 0px;
}

.PotentialBandHeader {
  margin-left: 12%;
}

.BandmatesTotal {
  margin-left: 36%;
}

.BandmateName {
  font-weight: bold;
  font-style: normal;
}

.Bandmate {
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  align-items: center;
  font-size: 10px;
  font-style: italic;
  width: 200px;
  height: 80px;
  background-color: #FFFFFF;
  color: #F35C08;
  margin-bottom: 8px;
}
