.Bandmate {
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  align-items: center;
  font-size: 10px;
  width: 200px;
  height: 50px;
  background-color: #FFFFFF;
  color: #F35C08;
}
