section.Instruments {
  display: flex;
  flex-direction: column;
}

div.InstrumentBar {
  display: flex;
  background: #FFFFFF;
  justify-content: center;
  border: 1px solid #D0D0D0;
  color: #000000;
}

span.CheckboxArea {
  position: relative;
  right: -30%;
  height: 15px;
  margin-top: 6px;
}
