.Settings p {
  color: #F35C08;
  text-decoration: none;
  margin: 20px;
}

.Settings h1 {
  margin: 50px 25px 25px 25px;
}

section.Settings {
  display: flex;
  flex-direction: column;
}

section.MultipleSelect {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: lighter;
}

section.selectOptions {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: lighter;
}

section.SingleSelect {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
